<!DOCTYPE html>

<!-- 	
	This file is rendered by express.js, when the home url of the chat is opened in a browser.
	It doesn't do much, except showing the create button for the chat.
 -->

<html>

<head>

	<title>TachyonTalk</title>

	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" />
	<link href="http://fonts.googleapis.com/css?family=Open+Sans Condensed:300italic,300,700" rel="stylesheet" type="text/css">


</head>

<body>

	<header class="homebanner">

			<h1 class="homebannertext">
				<a href="/" id="logo">Tachyon<span>Talk</span></a>
			</h1>

	</header>

	<section>

		<div class="homesection">

		<h2>TachyonTalk gives you the power to talk with ANYONE!</h2>
		<div id="features"><span class="feature">Automatic Translation</span> - <span class="feature">Speech Recognition</span> - <span class="feature">Text to Speech</span></h2>

			<a title="Create" href="/create" id="create">
				<div id="createbutton">
					<div id="little">Create a Private</div>
					<div id="big">CHAT ROOM!</div>
				</div>
			</a>

			<div class="node">
				<img src="img/nodejslogo.png" alt="nodelogo" id="nodelogo"/>
				<h3 id="chat">powered web chat</h3>
			</div>

		</div>

	</section>

</body>
</html>
